/* from jigintern/2023-summer-a
   https://github.com/jigintern/2023-summer-a/blob/develop/public/update/style.css
*/
.rainbow {
  color: white;
  text-shadow:
      1px 1px 2px white,
      0 0 1em blue,
      0 0 0.2em blue;
  background:
    linear-gradient(
      to right,
      #e60000, #f39800, #fff100, #009944, #0068b7, #1d2088, #920783, #e60000
    ) 0 / 200%;
  animation: .4s bgscr linear infinite;
}
@keyframes bgscr {
  100% {
    background-position: 400%;
  }
}
